---
layout:	default
---
<link rel="stylesheet" type="text/css" href="/css/docs.css">
<div class="content menu blog">
	<div class="section">
		<ul class="list-inline">
			<div id="cate-bar"></div>
			<li><a href="/"><span>作品</span></a></li>
			<li><a href="/price"><span>报价</span></a></li>
			<li  class="on"><a href="/blog"><span>博客</span></a></li>
		</ul>
		{{ content }}
	</div>
	<div class="aside"></div>
</div>
<style>
#cate-bar {top: 115px;}
</style>
<script>
$(document).ready(function(){
		var animateBar = function($item){
				var left = $item.offset().left + 5;
				$("#cate-bar").stop().animate({left: left + "px"}, 300);
		}

		animateBar($('.menu .on'));
		$('.menu li').mouseenter(function(){
        animateBar($(this));
    }).mouseleave(function(){
        animateBar($('.menu .on'));
    });
})
</script>
